// colors
$off-black: #20222b;
$off-white: #a5afd7;
$light-blue: #464b5e; // add this color
$blue: #3c4251;
$dark-blue: #333745;
$purple: #8357c5;
$black: #000;

// Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$transition: all 0.3s linear;
$spacing: 0.2rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 700px;

/* fonts */
$ff-primary: 'Roboto', sans-serif;
$ff-secondary: 'Open Sans', sans-serif;
